*{
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--textColor);
}
@keyframes displayAoff {
    from {
        width: var(--currentPortfolioWidth);
        height: var(--currentPortfolioHeight);
    }

    to {
        width: 0%;
        height: 0%;
    }
}
@keyframes displayAon {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: var(--currentPortfolioWidth);
        height: var(--currentPortfolioHeight);
    }
}
@keyframes displayBlock {
    from {
        width: 0;
        display: none;
    }
    to {
        width: 50%;
        display: block;
    }
}
@keyframes displayNone {
    from {
        width: 50%;
        display: block;
    }
    to {
        width: 0;
        display: none;
    }
}
@keyframes changeColor {
    from {
        background-color: var(--currentColor);
        color: var(--btnColor);
    }

    to {
        background-color: var(--btnColor);
        color: var(--currentColor);
    }
}
@keyframes up {
    from {
        margin-top: -1em;
    }

    to {
        margin-top: 1em;
    }
}
html{
    scroll-behavior: smooth;
    --textColor : white;
    --dim:rgb(29, 27, 49);
    --light:rgb(225, 223, 233);
    --dark:black;
    --bgColor : var(--dim);
    --divBg : rgb(42, 38, 65);
    --currentColor : rgb(236, 90, 91);
    --red : rgb(236, 90, 91);
    --yellow : rgb(255, 255, 60);
    --purple : rgb(166, 90, 236);
    --green: rgb(95, 189, 95);
    --blue: rgb(95, 146, 189);
    --btnColor : white;
}
#cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body{
    width: 100%;
    height: fit-content;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
body *{
    color: var(--textColor);
}
/* -------------Header Style --------------- */
header{
    width: 100%;
    height: 4.3em;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-transform: capitalize;
    background-color: var(--bgColor);
    z-index: 1;
}
header .centrize{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between ; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}
header .centrize .nameTitle{
    font-weight: bold;
    font-size: 1.8em;
    height: 70%;
    width:fit-content;
    align-items: center;
    display: flex;
}
header .centrize .nameTitle .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--currentColor);
    margin-left: 0.5em;
}
header .css1000Ul{
    list-style: none;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: bold;
    align-items: center;
}
header .css1000Ul li{
    width: fit-content;
    height: 70%;
    text-align: center;
    cursor: pointer;
    padding-top: 1em;
    text-transform: capitalize;
}
header .css1000Ul li a{
    display: block;
}
header .css1000Ul li .dot{
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 0.5em;
    background-color: var(--currentColor);
}
header .custom{
    width: 1.5em;
    cursor: pointer;
    margin-left: 1em;
}
header .css700Ul{
    width: 50%;
    height: 100vh;
    background-color: var(--divBg);
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    animation-name: displayBlock;
    animation-iteration-count: 1;
    animation-duration: 0.7s;
    animation-direction: alternate;
    transition-property: width;
}
header .css700Ul img{
    width: 1.3em;
    cursor: pointer;
    position: fixed;
    right: 1.5em;
    top: 1.3em;
}
header .css700Ul ul{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 10vh;
}
header .css700Ul ul li{
    margin-top: 5vh;
    width: fit-content;
    font-weight: bold;
}
header .css700Ul li .dot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 0.5em;
}
/* -------------Home Section Style --------------- */
#home{
    width: 100%;
    height: 43em;
}
#home .all{
    width: 100%;
    height: 43em;
    padding-top: 8em;
}
#home .profileImg{
    width: 6em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
#home .profileImg .profile{
    width: 100%;
    border-radius: 50%;
}
#home .description{
    width: fit-content;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    line-height: 2em;
}
#home .description .name{
    font-weight: bold;
    display: block;
    font-size: 1.5em;
}
#home .description .track{
    text-transform: none;
    font-weight: bold;
}
#home .accounts{
    width: 12em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}
#home .accounts a img{
    width:1.2em;
}
#home .hireMe{
    width: 6em;
    height: 3em;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 1.5em;
    overflow: hidden;
}
#home .hireMe button{
    width: 100%;
    height: 100%;
    background-color: var(--currentColor);
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: var(--btnColor);
}

#home .hireMe button:hover{
    animation-name: changeColor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#home .scroll{
    width: 7em;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    text-align: center;
    padding-top: 1em;
}
#home .scroll .animatedScroll{
    width: 2em;
    height: 3em;
    border: solid var(--textColor) 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 16px;
    align-items: center;
    display: flex;
}
#home .scroll .animatedScroll .circle{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--textColor);
    margin-left: auto;
    margin-right: auto;
    animation-name: up;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#home .scroll span{
    display: block;
    font-weight: bold;
    font-size: 0.7em;
}
/* -------------About Section Style --------------- */
#about{
    width: 100%;
    height: 86em;
}
#about .about{
    width: 100%;
    height: 43em;
    padding-top: 8em;
}
#about .aboutTitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
#about .description{
    width: 80%;
    height: 18em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}
#about .description .photo{
    width: 7em;
    height: 100%;
}
#about .description .photo img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
#about .description .textDiv{
    width: 75%;
    height: 100%;
    background-color: var(--divBg);
    border-radius: 2em;
    display: flex;
    justify-content: space-evenly;
}
#about .description .textDiv .text{
    width: 45%;
    height: 100%;
    padding-top: 2em;
}
#about .description .textDiv .text .aboutTxt{
    font-weight: bold;
    font-size: 1em;
    word-spacing: 0.4em;
    line-height: 2em;
    line-break: strict;
    display: block;
    height: fit-content;
    text-align: justify;
}
#about .description .textDiv .text .download{
    width: 10em;
    height: 3em;
    background-color: var(--currentColor);
    border-radius: 1.5em;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 1em;
    display: block;
    color: var(--btnColor);
}
#about .description .textDiv .text .download:hover{
    animation-name: changeColor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#about .description .textDiv .ranges{
    width: 45%;
    height: 100%;
    padding-top: 2em;
}
#about .description .textDiv .ranges .webDevelopment , 
#about .description .textDiv .ranges .problemSolving , 
#about .description .textDiv .ranges .appDevelopment {
    width: 100%;
    height: 2em;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .description .textDiv .ranges .problemSolving , 
#about .description .textDiv .ranges .appDevelopment {
    margin-top: 1em;
}
#about .description .textDiv .ranges .range1 , 
#about .description .textDiv .ranges .range2 , 
#about .description .textDiv .ranges .range3{
    width: 100%;
    height: 0.5em;
    border-radius: 0.25em;
    background-color: var(--bgColor);
    margin-top: 1em;
}
#about .description .textDiv .ranges .range1 div, 
#about .description .textDiv .ranges .range2 div, 
#about .description .textDiv .ranges .range3 div{
    height: 100%;
    border-radius: 4px;
    width: 80%;
    background-color: var(--blue);
}
#about .description .textDiv .ranges .range2 div{
    background-color: rgb(236, 90, 91);
    width: 60%;
}
#about .description .textDiv .ranges .range3 div{
    background-color: rgb(166, 90, 236);
    width: 30%;
}
#about .percentages{
    width: 70%;
    height: 7em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.3em;
    display: flex;
    justify-content: space-between;
}
#about .percentages span{
    display: block;
    font-weight: bold;
    font-size: 1.8vh;
    margin-top: 0.5em;
}
#about .percentages .firstP{
    display: flex;
    width: 50%;
}
#about .percentages .s1{
    font-size: 1.2em;
}
#about .percentages .projects , 
#about .percentages .coffe ,
#about .percentages .clients , 
#about .percentages .winner{
    width: 36%;
    height: 100%;
    text-align: center;
}
#about .percentages .coffe,
#about .percentages .clients ,
#about .percentages .winner{
    margin-left: 18.667%;
}
#about .percentages img{
    width: 1.5em;
}
#about .services{
    width: 100%;
    height: 43em;
    padding-top: 8em;
}
#about .services .description{
    width: 80%;
    height: 18em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}
#about .services .description div{
    width: 31%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 1em;
    text-align: center;
    padding-top: 2em;
}
#about .services .description .web:hover , 
#about .services .description .app:hover,
#about .services .description .problems:hover{
    margin-top: -1em;
    transition: margin-top;
    transition-duration: 0.5s;
}
#about .services .description div img{
    width: 5em;
}
#about .services .description div span{
    display: block;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
}
#about .services .description div .header{
    font-weight: bold;
    font-size: 1.3em;
}
#about .services .description .problems{
    background-color: var(--red);
}
#about .services .description .app{
    background-color: var(--purple);
}
#about .services .link{
    width: fit-content;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    display:flex ;
    align-items: center;
    text-align: center;
}
#about .services .link img{
    width: 1.5em;
    margin-left: 0.5em;
}
#about .services .link span {
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 1px;
}
#about .services .link span a{
    color: var(--currentColor);
}
/* ------------- Experience section Style --------------- */
#experience{
    width:100% ;
    height: 43.5em;
}
#experience .all{
    width:100%;
    height: 43em;
    padding-top: 6em;
}
#experience .exper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
#experience .description{
    width: 80%;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}
#experience .description .degree , 
#experience .description .skills{
    width: 45%;
    height: 100%;
    border-radius: 1em;
    background-color: var(--divBg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#experience .description  .icons {
    width: 1.3em; 
    height: 90%;
}
#experience .description  .details{
    width: 85%; 
    height: 90%;
}
#experience .description  .icons .cap{
    width: 100%;
}
#experience .description .skills .icons .cap{
    width: 95%;
}
#experience .description  .icons .line{
    width: 100%;
    height: 25%;
}
#experience .description  .details div{
    width: 100%;
    height: 30%;
}
#experience .description  .details .d1{
    margin-top: 2%;
}
#experience .description  .details div img{
    width: 1em;
}
#experience .description  .details div span{
    font-size: 0.8em;
    margin-left: 0.5em;
}
#experience .description  .details div h3{
    margin-top: 1em;
    font-size: 1.3em;
}
#experience .description  .details div p{
    margin-top: 1em;
    font-size: 0.9em;
}
/* -------------Pricing Section Style --------------- */
#pricing{
    width: 100%;
    height: 43em;
}
#pricing .all{
    width: 100%;
    height: 43em;
    padding-top: 8em;
}
#pricing .pricingTitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
#pricing .plans{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: 2em;
    justify-content: space-between;
}
#pricing .plans .d1{
    width: 33.2%;
    height: 90%; /* 30.96*/
    border-radius: 1em;
    text-align: center;
    padding-top: 2em;
    background-color:var(--divBg);
}
#pricing .plans .second{
    height: 100%; /* 34.4 */
    padding-top: 1.5em;
}
#pricing .plans .second .recommend  {
    width: 100%;
    height: fit-content;
}
#pricing .plans .second .recommend div{
    width: fit-content;
    height: 2em;
    background-color: var(--currentColor);
    transform: rotate(-90deg);
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: flex;
    align-items: center;
    margin-left: -1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    font-weight: bold;
    margin-top: 2em;
    color: var(--btnColor);
}
#pricing .plans div h2 , 
#pricing .plans div h4 {
    margin-top: 0.8em;
    line-height: 1.5em;
}
#pricing .plans div h4{
    font-weight: 400;
}
#pricing .plans div .pricing{
    width: 9em;
    height: 3em;
    border-radius: 0;
    text-align: left;
    padding-top: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    justify-content: space-between;
}
#pricing .plans div .pricing div{
    width:10%;
    height: 100%; /* 30.96*/
    background-color:initial;
    border-radius: 0em;
    padding-top: 0;
    font-weight: bold;
    text-align: center;
}
#pricing .plans div .pricing  .dollar{
    width:21%;
    height: 100%;
}
#pricing .plans div .pricing  .price{
    width:52%;
    height: 100%;
    font-size: 2.5em;
}
#pricing .plans div .pricing  .dur{
    width:30%;
    height: 100%;
    margin-top: 1.5em;
    font-size: 0.8em;
}
#pricing .plans div button{
    width: 50%;
    height: 3em;
    border-radius: 1.5em;
    background-color: var(--currentColor);
    font-size: 0.8em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    color: var(--btnColor);
}
#pricing .plans div button:hover{
    animation-name: changeColor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
/* -------------Portfolio Section Style --------------- */
#portfolio{
    width: 100%;
    height: 76em;
}
#portfolio .all{
    width: 100%;
    height: 76em;
    padding-top: 8em;
    /* background-color: red; */
}
#portfolio .portTitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
#portfolio .port{
    width: 80%;
    height: 32em;
    margin-left: auto;
    margin-right: auto;
}
#portfolio .port .list{
    width: 60%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1em;
}
#portfolio .port .list ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#portfolio .port .list ul li{
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
}
#portfolio .port .list ul li .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--currentColor);
    margin-left: 0.5em;
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
#portfolio .port .list ul li:hover {
    color: var(--currentColor);
}
#portfolio .port .websites{
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#portfolio .port .websites .first ,
#portfolio .port .websites .second{
    width: 100%;
    height:10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}
#portfolio .port .websites .second{
    margin-top: 1em;
}
#portfolio .port .websites .first a  ,
#portfolio .port .websites .second a{
    width: var(--currentPortfolioWidth);
    height: var(--currentPortfolioHeight);
    display: initial;
}
#portfolio .port .websites .first a div  :hover,
#portfolio .port .websites .second a div :hover{
    background-color: black;
    opacity: 0.3;
}
#portfolio .port .websites .first div img ,
#portfolio .port .websites .second div img{
    width: 100%;
}
#portfolio .clients {
    width: 90%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}
#portfolio .clients .reviews{
    width: 80%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4em;
}
#portfolio .clients .reviews .details{
    text-align: center;
    width: 100%;
    height: 10em;
    line-height: 2em;
}
#portfolio .clients .reviews .details h3{
    font-size: 1.5em;
}
#portfolio .clients .reviews .details span{
    font-size: 0.9em;
    color: rgb(179, 179, 179);
}
#portfolio .clients .reviews .text{
    text-align: center;
    width: 100%;
    height: 8em;
    border-radius: 1.5em;
    background-color: var(--divBg);
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 0.9em;
}
#portfolio .clients .reviews img {
    width: 108px;
}
#portfolio .clients .r2 , 
#portfolio .clients .r3 {
    display: none;
}
#portfolio .clients .scroll{
    width: 3em;
    height: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
#portfolio .clients .scroll div {
    width: 0.5em;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--currentColor);
}
#portfolio .clients .scroll .active{
    background-color: var(--textColor);
}
/* -------------Contact Section Style --------------- */
#contact{
    width: 100%;
    height: 43em;
}
#contact .all{
    width: 100%;
    height: 43em;
    padding-top: 8em;
}
#contact .contactTitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
#contact .content{
    width: 80%;
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#contact .content .contactDetails{
    width: 45%;
    height: 100%;
}
#contact .content .contactDetails h5{
    font-size: 1em;
    margin-top: 1em;
}
#contact .content .contactDetails div{
    margin-top: 1em;
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
}
#contact .content .contactDetails div img{
    width: 1em;
}
#contact .content .contactDetails div span {
    font-size: 1em;
    margin-left: 0.5em;
}
#contact .content .form{
    width: 55%;
    height: 100%;
    padding-top: 1em;
}
#contact .content .form input , 
#contact .content .form label{
    display: block;
    font-size: 0.9em;
}
#contact .content .form .subject , 
#contact .content .form .message{
    margin-top: 3em;
}
#contact .content .form input {
    background-color: initial;
    width: 100%;
    height: 2em;
    border-bottom: solid var(--textColor) 0.5px;
    overflow-x: hidden;
    text-align: left;
    margin-top: -1em;
}
#contact .content .form #message{
    height: 5em;
} 
#contact .content .form button{
    width: 10em;
    height: 3em;
    border-radius: 1.5em;
    background-color: var(--currentColor);
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 2em;
    color: var(--btnColor);
} 
#contact .content .form button:hover{
    animation-name: changeColor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
/* -------------Dialog Popup  Style --------------- */
dialog{
    width: 25em;
    height: 25em;
    background-color: var(--divBg);
    position: fixed;
    top: 22vh;
    left: 0;
    border-radius: 0.3em;
    padding-top: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
dialog .text{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}
dialog .text .custom{
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}
dialog .text .description{
    font-size: 0.8em;
}
dialog .fontSize{
    width: 80%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
dialog .fontSize span ,
dialog .color span ,
dialog .background span{
    font-weight: bold;
}
dialog .fontSize .rangeDiv{
    width: 100%;
    height: 2.5em;
    background-color: var(--bgColor);
    margin-top: 0.8em;
    border-radius: 1.25em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
dialog .fontSize .rangeDiv .small{
    font-size: 0.5em;
}
dialog .fontSize .rangeDiv .big{
    font-size: 1em;
}
dialog .fontSize .rangeDiv .range{
    width: 80%;
    height: 0.3em;
    border-radius: 0.15em ;
    background-color: var(--textColor);
    display: flex;
    justify-content: space-between;
}
dialog .fontSize .rangeDiv .range .level1 , 
dialog .fontSize .rangeDiv .range .level2 , 
dialog .fontSize .rangeDiv .range .level3 , 
dialog .fontSize .rangeDiv .range .level4{
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: var(--textColor);
    margin-top: -0.3em;
    cursor: pointer;
}
dialog .fontSize .rangeDiv .range .active{
    background-color:var(--currentColor);
}
dialog .color{
    width: 80%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
dialog .color .colorsDiv{
    width: 100%;
    height: 2.5em;
    background-color: var(--bgColor);
    margin-top: 0.5em;
    border-radius: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
dialog .color .colorsDiv div{
    width: 1em;
    height: 1em;
    background-color: var(--purple);
    border-radius: 50%;
    cursor: pointer;
}
dialog .color .colorsDiv #yellow{
    background-color: var(--yellow);
}
dialog .color .colorsDiv #red{
    background-color: var(--red);
}
dialog .color .colorsDiv .active {
    border: solid var(--textColor) 2px;
}
dialog .color .colorsDiv #green{
    background-color: var(--green);
}
dialog .color .colorsDiv #blue{
    background-color: var(--blue);
}
dialog .background{
    width: 80%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
dialog .background .backgroundDiv{
    width: 100%;
    height: 3.5em;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    cursor: pointer;
}
dialog .background .backgroundDiv .light ,
dialog .background .backgroundDiv .dim , 
dialog .background .backgroundDiv .dark{
    width: 31%;
    height: 100%;
    background-color: black;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
dialog .background .backgroundDiv .light{
    background-color: var(--light);
}
dialog .background .backgroundDiv .light span{
    color: black;
}
dialog .background .backgroundDiv .dark span ,
dialog .background .backgroundDiv .dim span{
    color: white;
}
dialog .background .backgroundDiv .dim{
    background-color: var(--dim);
}
dialog .background .backgroundDiv #active{
    border: solid var(--currentColor) 2px;
}
dialog .background .backgroundDiv .light div,
dialog .background .backgroundDiv .dim div, 
dialog .background .backgroundDiv .dark div{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: solid 1px gray;
}
dialog .background .backgroundDiv .light div{
    border: solid 1px rgb(71, 71, 71);
}
/* Media Css Styles */
@media screen and (min-width : 1200px){
    #about .description .textDiv .text .aboutTxt {
        font-size: 1em;
    }
    #about .description .textDiv .ranges .webDevelopment,
    #about .description .textDiv .ranges .problemSolving,
    #about .description .textDiv .ranges .appDevelopment {
        font-size: 1.2em;
    }
}
@media screen and (min-width : 1000px ) and (max-width : 1199px) {
    #about .description .textDiv .text .aboutTxt {
        font-size: 0.9em;
    }
        #about .description .textDiv .ranges .webDevelopment,
        #about .description .textDiv .ranges .problemSolving,
        #about .description .textDiv .ranges .appDevelopment {
            font-size: 1.15em;
        }
}
@media screen and (min-width : 800px) and (max-width : 999px) {
    #about .description .textDiv .text .aboutTxt {
        font-size: 0.85em;
    }

    #about .description .textDiv .ranges .webDevelopment,
    #about .description .textDiv .ranges .problemSolving,
    #about .description .textDiv .ranges .appDevelopment {
        font-size: 1.1em;
    }
        #about .services .description div {
            font-size: 1em;
        }
        #experience .description .details div p {
            font-size: 0.8em;
        }
        #pricing .plans div h4 {
            font-size: 0.8em;
        }
        #pricing .plans .second .recommend div {
            height: 1.8em;
            margin-left: -2em;
            border-top-left-radius: 0.9em;
            border-bottom-left-radius: 0.9em;
            font-weight: 400;
            margin-top: 1.8em;
        }
}
@media screen and (min-width : 700px) and (max-width : 799px) {
    #about .description .textDiv .text .aboutTxt {
        font-size: 0.75em;
    }
        #about .description .textDiv .ranges .webDevelopment,
        #about .description .textDiv .ranges .problemSolving,
        #about .description .textDiv .ranges .appDevelopment {
            font-size: 1em;
        }
        #about .services .description div {
            font-size: 1em;
        }
        #about .services .description div .header {
            font-weight: bold;
            font-size: 1.2em;
        }
        #experience .description .details div p {
            font-size: 0.8em;
        }
        #experience .description .details .d1 {
            margin-top: 3%;
        }
        #pricing .plans div h4 {
            font-size: 0.8em;
        }
        #pricing .plans .second .recommend div {
            height: 1.8em;
            margin-left: -2em;
            border-top-left-radius: 0.9em;
            border-bottom-left-radius: 0.9em;
            font-weight: 400;
            margin-top: 1.3em;
        }
        #contact .content .contactDetails div span {
            font-size: 0.85em;
        }
}
@media screen and (min-width:0px) and (max-width : 700px){
    #home .hireMe button {
            pointer-events: none;
        }
        #about{
            height: fit-content;
        }
        #about .about {
            height: fit-content;
        }
        #about .description {
            width: 95%;
            height: fit-content;
            display: block;
        }
        #about .description .photo {
            width: 9em;
            margin-left: auto;
            margin-right: auto;
        }
        #about .description .textDiv {
            height: fit-content;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            border-radius: 1em;
            margin-top: 2em;
            padding-bottom: 2em;
        }
        #about .description .textDiv .text {
            height: fit-content;
            padding-top: 1em;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        #about .description .textDiv .text .aboutTxt {
            font-size: 0.9em;
        }
        #about .description .textDiv .text .download {
            width: 12em;
            pointer-events: none;
        }
        #about .description .textDiv .ranges {
            width: 80%;
            height: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
        #about .description .textDiv .ranges .problemSolving,
        #about .description .textDiv .ranges .appDevelopment {
            margin-top: 0.5em;
        }
        #about .description .textDiv .ranges .range1,
        #about .description .textDiv .ranges .range2,
        #about .description .textDiv .ranges .range3 {
            width: 100%;
            height: 0.5em;
            border-radius: 0.25em;
            background-color: rgb(50, 49, 68);
            margin-top: 0.5em;
        }
        #about .percentages {
            width: 80%;
            display: block;
        }
        #about .percentages .firstP {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 2em;
        }
        #about .percentages .projects,
        #about .percentages .coffe,
        #about .percentages .clients,
        #about .percentages .winner {
            width: 40%;
        }
        #about .percentages .coffe,
        #about .percentages .clients,
        #about .percentages .winner {
            margin-left: 0;
        }
        #about .services {
            padding-top: 10em;
            height: fit-content;
        }
        #about .services .description {
            width: 90%;
            height: fit-content;
            display: block;
        }
        #about .services .description div {
            width: 100%;
            height: 15em;
            margin-top: 2em;
            pointer-events: none;
        }
        #about .services .description .problems:hover{
            pointer-events: none;
        }
        #about .services .description .web:hover{
            pointer-events: none;
        }
        #about .services .link img {
            display: none;
        }
        #experience {
            height: fit-content;
        }
        #experience .all {
            height: fit-content;
        }
        #experience .description {
            width: 90%;
            height: fit-content;
            display: block;
        }
        #experience .description .degree,
        #experience .description .skills {
            width: 100%;
            height: 418px;
            border-radius: 1em;
            margin-top: 1em;
            padding-bottom: 2em;
            padding-top: 2em;
        }
        #experience .description .icons {
            width: 1.5em;
            height: 92%;
        }
        #experience .description .icons .cap {
            width: 95%;
        }
        #experience .description .icons .line {
            width: 100%;
            height: 24%;
        }
        #experience .description .details div {
            width: 100%;
            height: 30%;
        }
        #experience .description .details .d1 {
            margin-top: 3.5%;
        }
        #experience .description .details div img {
            width: 1em;
        }
        #experience .description .details div span {
            font-size: 0.8em;
        }
        #experience .description .details div h3 {
            margin-top: 0.5em;
        }
        #experience .description .details div p {
            font-size: 0.7em;
        }
        #experience .description .skills .icons .cap {
            width: 83%;
        }
        #experience .description .skills .icons {
            height: 90%;
            text-align: center;
        }
        #experience .description .skills .icons .line {
            height: 25%;
        }
        #pricing {
            height: fit-content;
        }
        #pricing .all {
            height: fit-content;
        }
        #pricing .plans {
            width: 90%;
            height: fit-content;
            display: block;
        }
        #pricing .plans .d1 {
            width: 100%;
            height: fit-content;
            border-radius: 1em;
            text-align: center;
            padding-top: 2em;
            padding-bottom: 2em;
            margin-top: 1em;
        }
        #pricing .plans div button {
            pointer-events: none;
        }
        #pricing .plans .second .recommend div {
            height: 1.8em;
            margin-left: -2em;
            border-top-left-radius: 0.9em;
            border-bottom-left-radius: 0.9em;
            font-weight: 400;
            margin-top: 1.3em;
        }
        #portfolio {
            height: fit-content;
        }
        #portfolio .all {
            width: 100%;
            height: fit-content;
            padding-top: 8em;
        }
        #portfolio .port {
            width: 90%;
            height: fit-content;
        }
        #portfolio .port .list {
            width: 70%;
        }
        #portfolio .port .websites {
            width: 100%;
            height: fit-content;
        }
        #portfolio .port .websites .first,
        #portfolio .port .websites .second {
            width: 100%;
            height: fit-content;
            display: block;
            margin-top: 0;
        }
        #portfolio .port .websites .first a,
        #portfolio .port .websites .second a {
            width: var(--currentPortfolioWidth);
            height: var(--currentPortfolioHeight);
            margin-top: 1em;
            display: block;
        }
        #portfolio .port .websites .first div img,
        #portfolio .port .websites .second div img {
            width: 100%;
        }
        #portfolio .port .websites .first a div ,
        #portfolio .port .websites .second a div  {
            pointer-events: none;
        }
        #portfolio .clients {
            margin-top: 6em;
            padding-bottom: 2em;
        }
        #portfolio .clients .clientTitle{
            font-size: 1.5em;
        }
        #portfolio .clients .reviews {
            width: 100%;
        }
        #portfolio .clients .reviews .text {
            margin-top: 2.5em;
            padding-left: 1em;
            padding-right: 1em;
        }
        #contact {
            height: fit-content;
        }
        #contact .all {
            height:fit-content;
        }
        #contact .content {
            width: 90%;
            height: fit-content;
            display: block;
        }
        #contact .content .contactDetails {
            width: 100%;
            height: fit-content;
            padding-bottom: 1em;
        }
        #contact .content .form {
            width: 100%;
            height:fit-content;
            padding-top: 1em;
            margin-top: 1em;
            padding-bottom: 2em;
        }
        #contact .content .form input,
        #contact .content .form label {
            font-size: 1em;
        }
        #contact .content .form button {
            pointer-events: none;
        }
        dialog {
            width: 80%;
            height: fit-content;
            padding-bottom: 2em;
        }
        dialog .text .custom {
            font-size: 1.3em;
        }
        dialog .text .description {
            font-size: 0.7em;
        }
}
